@model PagedList.IPagedList<TestingSystem.Model.Theme>
@using PagedList.Mvc
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Themes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
	<h2>Themes</h2>

	<p>
	    @Html.ActionLink("Create New", "Create")
	</p>

	<form method="get">
	    <div class="form-inline">
	        <div><input type="text" name="searchString" placeholder="Search by title"></div>
	        <div class="ml-2"><input type="submit" value="Search" class="btn btn-outline-dark btn-sm" /></div>
	    </div>
	</form>
	<br />

	<table class="table" style="word-break: break-all;">
	    <tr class="row">
	        <th class="col-7">
	            Title
	        </th>
	        <th class="col-3">
	            Tests
	        </th>
	        <th class="col-2"></th>
	    </tr>

	    @foreach (var item in Model)
	    {
	        <tr class="row">
	            <td class="col-7">
	                @Html.DisplayFor(modelItem => item.Title)
	            </td>
	            <td class="col-3">
	                @Html.DisplayFor(modelItem => item.Tests.Count)
	            </td>
	            <td class="col-2">
	                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
	                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
	            </td>
	        </tr>
	    }

	</table>
	<br /><br />

	Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

	@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
</div>
