@model PagedList.IPagedList<TestingSystem.Model.Theme>
@using PagedList.Mvc
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Themes";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Themes</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<form method="get">
    <div class="form-inline">
        <label class="control-label">Theme: </label>
        <input type="text" name="searchString">
        <input type="submit" value="Filter" class="btn btn-default" />
    </div>
</form>
<br />

<table class="table">
    <tr>
        <th>
            Title
        </th>
        <th>
            Tests
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tests.Count)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
<br />

Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
