@model TestingSystem.Model.ViewModel.ResultViewModel
@{
    ViewBag.Title = $"Result {Model.TestName}";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.TestName</h2>

<span>Вы ответили на @Model.CountCorrectQuestion из @Model.CountQuestions вопросов</span>
<hr>

<ol>
    @foreach (var question in Model.Questions)
    {
        <li>
            <ul>@question.Text
                @foreach (var answer in question.Answers)
                {
                    if (question.CorrectAnswers.Contains(answer.Id) && answer.IsCorrect)
                    {
                        <li style="color: green">@answer.Text</li>
                    }
                    else if (question.CorrectAnswers.Contains(answer.Id) && !answer.IsCorrect)
                    {
                        <li style="color: red">@answer.Text</li>
                    }
                    else
                    {
                        <li>@answer.Text</li>
                    }
                }
            </ul>
            <hr />
        </li>
    }
</ol>
