@model TestingSystem.Model.ViewModel.TestViewModel
@{
    ViewBag.Title = "Test";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <h3>@Model.Name</h3>
        <span>
            @Model.Description<br /><br />
            Count of questions - @Model.Questions.Count<br />
            Time - @Model.Duration<br />
        </span>
        @if (Model.IsCanPass)
        {
            @Html.ActionLink("Start", "StartTest", new { id = Model.Id }, new { @class = "btn btn-primary" })
        }
        else
        {
            @Html.ActionLink("Start", "StartTest", new { id = Model.Id }, new { @class = "btn btn-primary disabled" })
        }
    </div>
</div>

