@using System.Web.Optimization
@using WebGrease.Css.Extensions
<!DOCTYPE html>

<html style="height: 100%;">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>@ViewBag.Title</title>
	@Styles.Render("~/Content/css")
	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/modernizr")
	@Scripts.Render("~/bundles/bootstrap")
</head>
    <body style="height: 100%;">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
	        <div class="container-fluid">
				<a class="navbar-brand" href="/Home/Index/"><span style="color: white;">Testing</span><b style="color: orange">System</b></a>
		        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarSupportedContent"
		                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			        <span class="navbar-toggler-icon"></span>
		        </button>
		        <div class="collapse navbar-collapse" id="navbarSupportedContent">
			        <ul class="navbar-nav mr-auto">
				        @if (User.IsInRole("admin"))
				        {
					        <li class="nav-item">@Html.ActionLink("Test", "Index", "Test", null, new {@class = "nav-link"})</li>
					        <li class="nav-item">@Html.ActionLink("Question", "Index", "Question", null, new {@class = "nav-link"})</li>
					        <li class="nav-item">@Html.ActionLink("User", "AllUsers", "Account", null, new {@class = "nav-link"})</li>
				        }
			        </ul>
			        @Html.Partial("~/Views/Partial/_LoginPartial.cshtml")
		        </div>
	        </div>
       </nav>
        
        @RenderBody()

    </body>
</html>
