@model PagedList.IPagedList<TestingSystem.Model.Question>
@using PagedList.Mvc
@using TestingSystem.Model
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Questions";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var array = new int[Model.Count];
    for (int i = 0; i < Model.Count; i++)
    {
        array[i] = Model[i].Id;
    }
}

<h2>Questions</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<form method="get">
    <div class="form-inline">
        <label class="control-label">Test: </label>
        @Html.DropDownList("TestId", null, htmlAttributes: new { @class = "form-control" })
        <input type="submit" value="Filter" class="btn btn-default" />
    </div>
</form>
<br />

<table class="table">
    <tr>
        <th>
            Test
        </th>
        <th>
            Text
        </th>
        <th>
            Answers
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr id="tr_@item.Id">
            <td>
                @Html.DisplayFor(modelItem => item.Test.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Text)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Answers.Count)
            </td>
            <td>
                @Ajax.ActionLink("Select", "Select", new  {id = item.Id }, new AjaxOptions { UpdateTargetId = "selected",
                                                                       LoadingElementId = "loading" }, new { id = item.Id }) |
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
<br />

<div id="loading" style="display: none; font-weight: bold;">
    <p>Идёт загрузка...</p>
</div>

<div id="selected"></div>

<br />

Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index", new { testId = ViewBag.id, page }))

<script type="text/javascript">

    function setHandlers() {
        @for (var i = 0; i < Model.Count; i++)
        {
            <text>
                document.getElementById(@Model[i].Id).onclick = clickHandler;
            </text>
        }
    }

    function clickHandler() {
        @for (var i = 0; i < Model.Count; i++)
        {
            <text>
                document.getElementById("tr_" + @Model[i].Id).removeAttribute("style");
            </text>
        }
        document.getElementById("tr_" + this.id).setAttribute("style", "background-color: #80b1b2;");
    }
    setHandlers();
</script>