@model PagedList.IPagedList<TestingSystem.Model.Question>
@using PagedList.Mvc
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Questions";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var array = new int[Model.Count];
    for (int i = 0; i < Model.Count; i++)
    {
        array[i] = Model[i].Id;
    }
}

<div class="container">
	<h2>Questions</h2>

	<p>
		@Html.ActionLink("Create New", "Create")
	</p>

	<form method="get">
		<div class="form-inline">
			<label class="col-form-label">Test: </label>
			@Html.DropDownList("TestId", null, htmlAttributes: new { @class = "form-control-sm ml-2" })
			<input type="submit" value="Filter" class="btn btn-outline-dark ml-2 btn-sm" />
		</div>
	</form>
	<br />

	<div id="loading" style="display: none; font-weight: bold;">
		<p>Идёт загрузка...</p>
	</div>

	<table class="table" style="word-break: break-all;">
		<tr class="row">
			<th class="col-2">
				Test
			</th>
			<th class="col-7">
				Text
			</th>
			<th class="col-1">
				Answers
			</th>
			<th class="col-2"></th>
		</tr>

		@foreach (var item in Model)
		{
			<tr id="tr_@item.Id" class="row">
				<td class="col-2">
					@Html.DisplayFor(modelItem => item.Test.Name)
				</td>
				<td class="col-7">
					@Html.DisplayFor(modelItem => item.Text)
				</td>
				<td class="col-1">
					@Html.DisplayFor(modelItem => item.Answers.Count)
				</td>
				<td class="col-2">
					<a id="@item.Id" href="">Select</a> |
					@Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
					@Html.ActionLink("Delete", "Delete", new { id = item.Id })
				</td>
			</tr>
		}

	</table>
	<br />
	<div id="selected"></div>
	<br />

	Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

	@Html.PagedListPager(Model, page => Url.Action("Index", new { testId = ViewBag.id, page }))
</div>

<script type="text/javascript">

	@foreach (var item in Model)
	{
		<text>
			$("#@item.Id").on('click', function (e) {
				e.preventDefault();
				$.ajax({
					url: "/Question/Select",
					method: 'POST',
					data: { id: "@item.Id" },
					success: function (data) {
						document.getElementById('loading').style.display = "none";
						$('#selected').html(data);
						document.getElementById('selected').style.display = "block";
						@foreach (var i in Model)
						{
							<text>
								document.getElementById("tr_@i.Id").removeAttribute("style");
							</text>
						}
						document.getElementById("tr_" + e.target.id).setAttribute("style", "background-color: #80b1b2;");
					},
					beforeSend: function () {
						document.getElementById('loading').style.display = "block";
						if (document.getElementById("tr_" + e.target.id).style.backgroundColor === "rgb(128, 177, 178)") {
							document.getElementById("tr_" + e.target.id).removeAttribute("style");
							document.getElementById('loading').style.display = "none";
							document.getElementById('selected').style.display = "none";
							this.abort();
						}
					},
					error: function() {
						document.getElementById('loading').style.display = "none";
					}
				});
				e.preventDefault();
			});
		</text>
	}
</script>
