@model PagedList.IPagedList<TestingSystem.Model.Question>
@using PagedList.Mvc
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Questions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Questions</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<form method="get">
    <div class="form-inline">
        <label class="control-label">Test: </label>
        @Html.DropDownList("TestId", null, htmlAttributes: new { @class = "form-control" })
        <input type="submit" value="Filter" class="btn btn-default" />
    </div>
</form>
<br />

<table class="table">
    <tr>
        <th>
            Test
        </th>
        <th>
            Text
        </th>
        <th>
            Answers
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Test.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Text)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Answers.Count)
            </td>
            <td>
                @Ajax.ActionLink("Select", "Select", new  {id = item.Id }, new AjaxOptions { UpdateTargetId = "selected",
                                                                       LoadingElementId = "loading" }) |
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new {id = item.Id})
            </td>
        </tr>
    }

</table>
<br />

<div id="selected"></div>
<div id="loading" style="display: none; font-weight: bold;">
    <p>Идёт загрузка...</p>
</div>

<br />

Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index", new { testId = ViewBag.id, page }))

