@model IEnumerable<TestingSystem.Model.Answer>

<h4>Answers</h4>
<p>
    @Html.ActionLink("Create New", "Create", "Answer", new { questionId = ViewBag.QuestionId }, null)
</p>
<table class="table" style="word-break: break-all;">
    <tr class="row">
        <th class="col-8">
            @Html.DisplayNameFor(model => model.Text)
        </th>
        <th class="col-2">
            @Html.DisplayNameFor(model => model.isCorrect)
        </th>
        <th class="col-2"></th>
    </tr>

    @foreach (var item in Model) {
        <tr class="row">
            <td class="col-8">
                @Html.DisplayFor(modelItem => item.Text)
            </td>
            <td class="col-2">
                @Html.DisplayFor(modelItem => item.isCorrect)
            </td>
            <td class="col-2">
                @Html.ActionLink("Edit", "Edit", "Answer", new { id=item.Id }, null) |
                @Html.ActionLink("Delete", "Delete", "Answer", new { id=item.Id }, null)
            </td>
        </tr>
    }

</table>
