@model PagedList.IPagedList<TestingSystem.Model.Test>
@using PagedList.Mvc
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Tests";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Tests</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<form method="get">
    <div class="form-inline">
        <label class="control-label">Theme: </label>
        @Html.DropDownList("ThemeId", null, htmlAttributes: new { @class = "form-control" })
        <input type="submit" value="Filter" class="btn btn-default" />
    </div>
</form>
<br />

<table class="table">
    <tr>
        <th>
            Theme
        </th>
        <th>
            Name
        </th>
        <th>
            Description
        </th>
        <th>
            Duration
        </th>
        <th>
            Questions
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Theme.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Duration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Questions.Count)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
<br />

Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index", new { themeId = ViewBag.id, page }))
